/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    background-color: #111;
    color: white;
}

/* Скрытый sticky header */
.sticky-header {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Логотип слева */
.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    display: flex;
}

.logo img {
    width: 50px; /* Размер логотипа */
    height: auto;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.logo:hover img {
    opacity: 0.7;
}

/* Горизонтальное расположение кнопок справа */
.nav-buttons {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: row; /* Кнопки располагаются горизонтально */
    gap: 15px; /* Расстояние между кнопками */
}

/* Стили кнопок */
.nav-buttons a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

.nav-buttons a:hover {
    color: #f4a261;
}

/* Стили для секций (чтобы плавно листались) */
.section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Фиксированная кнопка Instagram */
.instagram-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.instagram-fixed:hover {
    transform: scale(1.1);
    background-color: #f4a261;
}

.instagram-icon {
    width: 60%;
    height: auto;
    object-fit: contain;
}
